@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR", sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

.menu {
  top: 112px;
}

.drawer-content {
  max-height: initial !important;
  min-height: -webkit-fill-available;
}

.drawer-toggle:checked + .drawer-content {
  max-height: 100vh !important;
}

.js-searchedItem:active span {
  color: white !important;
}

.main {
  min-height: calc(100vh - 4rem - 224px);
}

.carousel-root {
  outline: none;
}

.carousel * {
  box-sizing: border-box;
}

.carousel {
  overflow: hidden;
  margin: auto;
  width: 100%;
}

.carousel-container .carousel-slide {
  display: flex;
  justify-content: center;
  height: 700px;
}

.carousel-container .carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .carousel-container .carousel-slide {
    height: 220px;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-container .carousel-slide .carousel-description {
    bottom: 0;
  }
}

.card figure img {
  max-width: 50%;
  max-height: 50%;
}
@media (max-width: 480px) {
  .item_list[data-scroll="true"] {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-columns: minmax(220px, 1fr);
  }
}

@media (max-width: 767px) {
  .item_list[data-scroll="true"] {
    grid-auto-flow: column;
    overflow-x: auto;
  }
}

.view_image {
  min-width: 20em;
}

/* Nav 영역 관련 */
.navbar .btn-ghost {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 640px) {
  .navbar .btn-ghost {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
